lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
core

node_modules/*
app/bower_components
app/templates/*.html
app/templates/*/*.html
app/index.html
app/stylesheets/*.css
app/images/products

npm-debug.log
config.json
