@import "./bootstrap-ambiance/less/bootstrap-ambiance.less";

.container {
	padding-top: 60px;
	padding-bottom: 60px;
}

// No break, cut text in nav-stacked for better look
.nav-stacked li a {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.form-inline {
	input {
		width: 180px;
		margin-right: 5px;
	}
}

.panel.code {
	.CodeMirror  {
		margin: -15px;
	}
}

.navbar-fixed-top {
	.navbar, .alert {
		border-radius: 0;
		margin-bottom: 0;
	}
}

.empty_productview {
	color: darken(@well-bg, 10%);
	font-size: 30px;
}

productview {
	.img-thumbnail {
		width: 200px;
		cursor: pointer;
	}
}

.navbar-transparent {
	background: none;
	border: none;
}

.product_show {
	margin-top: -50px;
	margin-bottom: -50px;
	qrcode {
		position: absolute;
		left: 20px;
		bottom: 20px;
	}
}