h1 About
p This application was developed by
address
  strong Pascal Garber
  br
  | Bei der Kirche 12
  br
  | 27476 Cuxhaven
  br
  | Germany
  br
  abbr(title="E-Mail") E:
  a(href="mailto:pascal.garber@gmail.com")  pascal.garber@gmail.com
p in favor of
address
  strong Bugwelder
  br
  | Strichweg 35
  br
  | 27472 Cuxhaven
  br
  | Germany
  br
  abbr(title="Telefon") T:
  |  +49 4721 39 69 02
  br
  abbr(title="Fax") F:
  |  +49 4721 39 69 05
  br
  abbr(title="E-Mail") E:
  a(href="mailto:info@bugwelder.com")  info@bugwelder.com
h2 Function
p This application allows you manage magento products easily.
h2 Technology
p This application was developed using the following technologies:
ul
  li
    a(href="https://github.com/rogerwang/node-webkit") node-webkit 
    |  - node-webkit is an app runtime based on Chromium and Node.js.
  li
    a(href="http://nodejs.org/") Node.js
    |  - Platform for building fast, scalable network applications.
  li
    a(href="http://www.chromium.org/") Chromium 
    |  - Chromium is an open-source browser project
  li
    a(href="http://angularjs.org/") AngularJS
    |  - JavaScript model–view–controller framework for single-page applications.
  li
    a(href="http://jade-lang.com") Jade
    |  - Robust, elegant, feature rich template engine.
  li
    a(href="http://www.lesscss.org/") Less
    |  - Dynamic stylesheet language
  li
    a(href="http://twitter.github.io/bootstrap/") Bootstrap
    |  - Sleek, intuitive, and powerful front-end framework for faster and easier web development.