.navbar-fixed-top
  .navbar.navbar-transparent
    .collapse.navbar-collapse.navbar-ex1-collapse(ng-class="{false: 'collapse', true: 'in'}[nav_collapse]")
      ul.nav.navbar-nav.navbar-right
        li
          a(href="javascript:void(0)", ng-click="toggle_fullscreen();", title="toggle fullscreen")
            div(ng-if="!fullscreen")
              i.icon-resize-full(title="enter fullscreen")
            div(ng-if="fullscreen")
              i.icon-resize-small(title="leave fullscreen")