div.empty_productview(ng-if="!product_info.object.name")
	img(src="images/product-empty-arrow-left.svg")
	| Please choose your product!
form(name="productForm", ng-if="product_info.object.name")
	fieldset
		h1(class="name")
			| {{product_info.object.name}}
			small(ng-if="product_info.object.sku")
				| {{product_info.object.sku}}
		.row
			.col-lg-2(ng-if="whitelist.status")
				.panel.panel-default(ng-switch="product_info.object.status")
					.panel-heading
						| Status
					.panel-body
						span(ng-switch-when="1")
							i.icon-circle.green
						span(ng-switch-when="2")
							i.icon-circle.red
			.col-lg-2(ng-if="whitelist.price")
				.panel.panel-default
					.panel-heading
						| Price
					.panel-body
						{{product_info.object.price}} €
			.col-lg-2(ng-if="whitelist.type")
				.panel.panel-default
					.panel-heading
						| Type
					.panel-body
						{{product_info.object.type}}
			.col-lg-2(ng-if="whitelist.weight")
				.panel.panel-default
					.panel-heading
						| Weight
					.panel-body
						{{product_info.object.weight}} Kilo
		.panel.panel-default(ng-if="whitelist.image")
			.panel-heading
				| Images
			.panel-body
				.col-lg-2(ng-repeat="image in product_info.object.images")
					img.img-thumbnail(ng-src="{{paths.product_image}}{{image.file}}", ng-click="open_file('{{paths.product_image}}{{image.file}}')")
		.panel.panel-default(ng-if="whitelist.price", ng-if="whitelist.group_price")
			.panel-heading
				| Group price
			.panel-body
				.form-group(ng-repeat="group in product_info.object.group_price")
					.row
						.col-lg-2
							.input-group
								span.input-group-addon(title="Euro")
									i.icon-eur
								input.form-control(type="number", min="0", step="any", ng-model="group.price", ng-change="group_price_normal_changed(group.price, $index)")
						.col-lg-2	
								.input-group
									span.input-group-addon(title="Percent")
										%
									input.form-control(type="number", min="0", step="any", ng-model="group.price_percent", ng-change="group_price_price_percent_changed(group.price_percent, $index)")
						.col-lg-2
							.input-group
								span.input-group-addon(title="Website")
									i.icon-file
								input.form-control(type="text", min="0", step="any", ng-model="group.website_id")
						.col-lg-2
							.input-group
								span.input-group-addon(title="Customer group")
									i.icon-group
								input.form-control(type="number", min="0", step="any", ng-model="group.cust_group")
						.col-lg-1		
							button.btn(type='button', title="remove group price", ng-click="remove_groupprice($index)")
								i.icon-minus
					.divider
				button.btn(type='button', title="add group price", ng-click="add_groupprice()")
					i.icon-plus
		.panel.panel-default(ng-if="whitelist.price", ng-if="whitelist.tier_price")
			.panel-heading
				| Tier price
			.panel-body
				.form-group(ng-repeat="tier in product_info.object.tier_price")
					.row
						.col-lg-2
							.input-group
								span.input-group-addon(title="Quantity")
									#
								input.form-control(type="number", min="1", ng-model="tier.qty")
						.col-lg-2
							.input-group
								span.input-group-addon(title="Euro")
									i.icon-eur
								input.form-control(type="number", min="0", step="any", ng-model="tier.price", ng-change="tier_price_normal_changed(tier.price, $index)")
						.col-lg-2
								.input-group
									span.input-group-addon(title="Percent")
										%
									input.form-control(type="number", min="0", step="any", ng-model="tier.price_percent", ng-change="tier_price_price_percent_changed(tier.price_percent, $index)")
						.col-lg-2
							.input-group
								span.input-group-addon(title="Website")
									i.icon-file
								input.form-control(type="text", min="0", step="any", ng-model="tier.website")
						.col-lg-2
							.input-group
								span.input-group-addon(title="Customer group")
									i.icon-group
								input.form-control(type="number", min="0", step="any", ng-model="tier.customer_group_id")
						.col-lg-1		
							button.btn(type='button', title="remove tier price", ng-click="remove_tierprice($index)")
								i.icon-minus
					.divider
				button.btn(type='button', title="add tier price", ng-click="add_tierprice()")
					i.icon-plus
		.panel.panel-default(ng-if="whitelist.stock")
			.panel-heading
				| Stock 
				i.icon-truck
			.panel-body
				.form-group
					legend Strichweg
					.row
						.col-lg-4
							.input-group
								span.input-group-addon(title="Strichweg Quantity")
									#
								input.form-control#stock_strichweg_qty(required, type="number", min="0", ng-model="product_info.object.stock_strichweg_qty")
						.col-lg-4
							.input-group
								span.input-group-addon(title="Strichweg Range")
									i.icon-columns
								input.form-control#stock_strichweg_range(required, type="text", ng-model="product_info.object.stock_strichweg_range")
						.col-lg-4
							.input-group
								span.input-group-addon(title="Strichweg Row")
									i.icon-list-ol
								input.form-control#stock_strichweg_row(required, type="text", ng-model="product_info.object.stock_strichweg_row")
					legend Heritage
					.row
						.col-lg-4
							.input-group
								span.input-group-addon(title="Heritage Quantity")
									#
								input.form-control#stock_vwheritage_qty(required, type="number", min="0", ng-model="product_info.object.stock_vwheritage_qty")
		.panel.panel-default(ng-if="whitelist.description")
			.panel-heading
				| Description
			.panel-body
				span(ng-bind-html-unsafe="product_info.object.description")
		.panel.panel-default(ng-if="whitelist.short_description")
			.panel-heading
				| Short description
			.panel-body
				span(ng-bind-html-unsafe="product_info.object.short_description")
		.panel.panel-default.code(ng-if="whitelist.json")
			.panel-heading
				i.icon-code
			.panel-body
				textarea(ui-codemirror="codemirrorOptions", ng-model="product_info.json_string")