h1 Product Show Config
button.btn.btn-default(ng-click="open_product_show();")
	| Open
button.btn.btn-default(ng-click="stop();")
	| Stop
button.btn.btn-default(ng-click="play();")
	| Play
button.btn.btn-default(ng-click="next();")
	| Next
button.btn.btn-default(ng-click="prev();")
	| Prev
h4 {{show_win.playlist.current.name}}