.row
	.col-lg-3
		productsbar(storeview="shop_de")
	.col-lg-9
		productview(storeview="shop_de")
.navbar.navbar-fixed-bottom
	.navbar-form.navbar-right
		.btn-group
			button.btn.btn-default.navbar-btn(type="button", title="Show Product", ng-click="set_specific(product_info.object)")
				i.icon-desktop
			button.btn.btn-default.navbar-btn(type="button", title="Save Product", ng-click="magento.updateOne(product_info.object)")
				i.icon-save